<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>levels</key>
	<dict>
		<key>13</key>
		<dict>
			<key>finalEffect</key>
			<string>firstMoveAndShrink</string>
			<key>count</key>
			<integer>4</integer>
			<key>layout</key>
			<string>TopBottomRowLayout</string>
			<key>layoutOptions</key>
			<dict>
				<key>random.1</key>
				<false/>
			</dict>
			<key>mode</key>
			<string>drag</string>
		</dict>
		<key>12</key>
		<dict>
			<key>finalEffect</key>
			<string>firstMoveAndShrink</string>
			<key>count</key>
			<integer>4</integer>
			<key>layout</key>
			<string>TopBottomRowLayout</string>
			<key>layoutOptions</key>
			<dict>
				<key>random.1</key>
				<false/>
			</dict>
			<key>mode</key>
			<string>drag</string>
		</dict>
		<key>11</key>
		<dict>
			<key>finalEffect</key>
			<string>join</string>
			<key>count</key>
			<integer>4</integer>
			<key>layout</key>
			<string>TopBottomRowLayout</string>
			<key>mode</key>
			<string>drag</string>
		</dict>
		<key>10</key>
		<dict>
			<key>finalEffect</key>
			<string>rotateFirst</string>
			<key>count</key>
			<integer>4</integer>
			<key>layout</key>
			<string>TopBottomRowLayout</string>
			<key>mode</key>
			<string>drag</string>
		</dict>
		<key>9</key>
		<dict>
			<key>sprites</key>
			<dict>
				<key>l9c2s</key>
				<dict>
					<key>finalEffect.params</key>
					<dict>
						<key>offset.y</key>
						<real>0.4</real>
					</dict>
				</dict>
				<key>l9c1s</key>
				<dict>
					<key>finalEffect.params</key>
					<dict>
						<key>offset.x</key>
						<real>-0.15</real>
						<key>offset.y</key>
						<real>0.4</real>
					</dict>
				</dict>
				<key>l9c4s</key>
				<dict>
					<key>finalEffect.params</key>
					<dict>
						<key>offset.x</key>
						<real>0.1</real>
						<key>offset.y</key>
						<real>0.34</real>
					</dict>
				</dict>
			</dict>
			<key>finalEffect.params</key>
			<dict>
				<key>offset.y</key>
				<real>0.38</real>
			</dict>
			<key>finalEffect</key>
			<string>firstMove</string>
			<key>count</key>
			<integer>4</integer>
			<key>layout</key>
			<string>TopBottomRowLayout</string>
			<key>mode</key>
			<string>drag</string>
		</dict>
		<key>8</key>
		<dict>
			<key>finalEffect</key>
			<string>firstMove</string>
			<key>count</key>
			<integer>4</integer>
			<key>layout</key>
			<string>TopBottomRowLayout</string>
			<key>mode</key>
			<string>drag</string>
		</dict>
		<key>7</key>
		<dict>
			<key>finalEffect</key>
			<string>firstMove</string>
			<key>count</key>
			<integer>4</integer>
			<key>layout</key>
			<string>TopBottomRowLayout</string>
			<key>mode</key>
			<string>drag</string>
		</dict>
		<key>1</key>
		<dict>
			<key>finalEffect</key>
			<string>firstMove</string>
			<key>count</key>
			<integer>4</integer>
			<key>layout</key>
			<string>TopBottomRowLayout</string>
			<key>mode</key>
			<string>drag</string>
		</dict>
		<key>2</key>
		<dict>
			<key>finalEffect</key>
			<string>secondShrink</string>
			<key>count</key>
			<integer>4</integer>
			<key>layout</key>
			<string>TopBottomRowLayout</string>
			<key>mode</key>
			<string>drag</string>
		</dict>
		<key>3</key>
		<dict>
			<key>finalEffect</key>
			<string>secondShrink</string>
			<key>count</key>
			<integer>4</integer>
			<key>layout</key>
			<string>TopBottomRowLayout</string>
			<key>mode</key>
			<string>drag</string>
		</dict>
		<key>4</key>
		<dict>
			<key>finalEffect</key>
			<string>secondShrink</string>
			<key>count</key>
			<integer>4</integer>
			<key>layout</key>
			<string>TopBottomRowLayout</string>
			<key>mode</key>
			<string>drag</string>
		</dict>
		<key>5</key>
		<dict>
			<key>touchEffect</key>
			<dict>
				<key>second</key>
				<string>swing</string>
			</dict>
			<key>finalEffect</key>
			<string>firstMoveAndShrink</string>
			<key>finalEffect.params</key>
			<dict>
				<key>offset.y</key>
				<real>-0.6</real>
			</dict>
			<key>balloons.y</key>
			<integer>16</integer>
			<key>count</key>
			<integer>4</integer>
			<key>layout</key>
			<string>BirdsLayout</string>
			<key>mode</key>
			<string>drag</string>
		</dict>
		<key>6</key>
		<dict>
			<key>finalEffect</key>
			<string>secondShrink</string>
			<key>count</key>
			<integer>4</integer>
			<key>layout</key>
			<string>TopBottomRowLayout</string>
			<key>mode</key>
			<string>drag</string>
		</dict>
	</dict>
</dict>
</plist>
