<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>levels</key>
	<dict>
		<key>9</key>
		<dict>
			<key>finalEffect.params</key>
			<dict>
				<key>offset.y</key>
				<real>0.4</real>
			</dict>
			<key>finalEffect</key>
			<string>firstMove</string>
			<key>count</key>
			<integer>4</integer>
			<key>layout</key>
			<string>TopBottomRowLayout</string>
			<key>mode</key>
			<string>drag</string>
		</dict>
		<key>8</key>
		<dict>
			<key>finalEffect</key>
			<string>firstMove</string>
			<key>count</key>
			<integer>4</integer>
			<key>layout</key>
			<string>TopBottomRowLayout</string>
			<key>mode</key>
			<string>drag</string>
		</dict>
		<key>7</key>
		<dict>
			<key>finalEffect</key>
			<string>firstMove</string>
			<key>count</key>
			<integer>4</integer>
			<key>layout</key>
			<string>TopBottomRowLayout</string>
			<key>mode</key>
			<string>drag</string>
		</dict>
		<key>1</key>
		<dict>
			<key>finalEffect</key>
			<string>firstMove</string>
			<key>count</key>
			<integer>4</integer>
			<key>layout</key>
			<string>TopBottomRowLayout</string>
			<key>mode</key>
			<string>drag</string>
		</dict>
		<key>2</key>
		<dict>
			<key>finalEffect</key>
			<string>secondShrink</string>
			<key>count</key>
			<integer>4</integer>
			<key>layout</key>
			<string>TopBottomRowLayout</string>
			<key>mode</key>
			<string>drag</string>
		</dict>
		<key>3</key>
		<dict>
			<key>finalEffect</key>
			<string>secondShrink</string>
			<key>count</key>
			<integer>4</integer>
			<key>layout</key>
			<string>TopBottomRowLayout</string>
			<key>mode</key>
			<string>drag</string>
		</dict>
		<key>4</key>
		<dict>
			<key>finalEffect</key>
			<string>secondShrink</string>
			<key>count</key>
			<integer>4</integer>
			<key>layout</key>
			<string>TopBottomRowLayout</string>
			<key>mode</key>
			<string>drag</string>
		</dict>
		<key>5</key>
		<dict>
			<key>touchEffect</key>
			<dict>
				<key>second</key>
				<string>swing</string>
			</dict>
			<key>finalEffect</key>
			<string>firstMoveAndShrink</string>
			<key>finalEffect.params</key>
			<dict>
				<key>offset.y</key>
				<real>-0.6</real>
			</dict>
			<key>balloons.y</key>
			<integer>16</integer>
			<key>count</key>
			<integer>4</integer>
			<key>layout</key>
			<string>BirdsLayout</string>
			<key>mode</key>
			<string>drag</string>
		</dict>
		<key>6</key>
		<dict>
			<key>finalEffect</key>
			<string>secondShrink</string>
			<key>count</key>
			<integer>4</integer>
			<key>layout</key>
			<string>TopBottomRowLayout</string>
			<key>mode</key>
			<string>drag</string>
		</dict>
	</dict>
</dict>
</plist>
